@import 'tailwindcss';

@font-face {
  font-family: 'Paperlogy';
  src: url('../fonts/Paperlogy/Paperlogy-4Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('../fonts/Paperlogy/Paperlogy-5Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('../fonts/Paperlogy/Paperlogy-7Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts//Pretendard/Pretendard-Regular.woff') format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../fonts//Pretendard/Pretendard-Medium.woff') format(truetype);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../fonts//Pretendard/Pretendard-Bold.woff') format(truetype);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@theme {
  /* 메인 컬러 */
  --color-primary: #db0001;
  --color-primary-2: #ffa2a2;
  --color-primary-3: #ffebeb;

  /* 서브 포인트 컬러 */
  --color-black: #1a1a1a;
  --color-blue: #0062dd;

  /* 그레이 스케일 */
  --color-gray: #575757;
  --color-gray-2: #b9b9b9;
  --color-gray-3: #f3f3f3;

  /* 브레이크 포인트 */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;
}

@layer base {
  body {
    font-family: 'Paperlogy', sans-serif;
    width: 100%;
    height: 100%;
  }
  button {
    cursor: pointer;
  }
}
.marquee-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-track {
  display: inline-flex;
  gap: 90px;
  animation: scrollMarquee 17s linear infinite;
}

.marquee-track span {
  flex-shrink: 0;
}

@keyframes scrollMarquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}
.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.hide-placeholder-on-focus:focus::placeholder {
  color: transparent;
}
